// Place all the styles related to the sample controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import 'ext-all';

body {
  padding-left: 10px;
  padding-top: 10px;
}

td {
  padding: 5px;
}


